/* GLOBAL CSS */

@import "./variables";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

hr{
    border: none;
}

/* BLOG */

.blog-posts{
    .blog-posts-padding{
        padding: 15px;
    }
    &__title{
        h2{
            padding: 0 0 8px 0;
            border-bottom: 2px solid 
            #1515af;
            display: inline-block;
        }
        p{
            color: $color_grey;
            margin-bottom: 40px;
            a{
                color: #1515af;
            }
        }
    }
    &__content{
        position: relative;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 15px 10px -15px #111;    
        border: 1px solid #fbf9f9;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: none;
        }
        img{
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
        h6{
            position: absolute;
            content: '';
            top: 10px;
            left: 10px;
            background-color: $secondary;
            color: #fff;
            padding: 5px 10px;
            font-size: 14px;
        }
    }
    &__text{
        padding: 20px;
        h4{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            height: 46px;
            line-height: 1.1;
            a{
                color: $primary;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                &:hover{
                    color: $secondary;
                }
            }
        }
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; 
            -webkit-box-orient: vertical;
            height: 95px;
            color: $color_grey;
            margin-bottom: 30px;
        }
        .btn-blog-post{
            margin: 10px 0;
            a{
                background-color: $secondary;
                color: #fff;
                padding: 10px 25px;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                &:hover{
                   background-color: #2b75ba;
                }
            }
        }
    }
}

/* SINGLE POST */

.single-post{
    &__content{
        h6{
            background-color: $secondary;
            color: #fff;
            padding: 5px 10px;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 20px;
        }
        hr{
            height: 2px;
            width: 120px;
            background-color: $secondary;
            margin-bottom: 30px;
        }
        img{
            width: 100%;
            height: 350px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        p{
            color: $color_grey;
            a{
                color: #1515af;
            }
        }
        h4{
            color: $primary;
        }
        .post-list{
            list-style: none;
            li{
                padding-left: 20px;
                position: relative;
                color: $color_grey;
                &::before{
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    background-image: url("/images/dot.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .share-line{
            width: 100%;
            height: 1px;
            background-color: #fbf9f9;
        }
        .post-share{
            list-style: none;
            margin-top: 40px;
            li{
                display: inline-block;
                margin-right: 5px;
                a{
                    background-color: $secondary;
                    padding: 10px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &__sidebar{
        border: 1px solid#fbf9f9;
        padding: 20px 15px;
        position: sticky;
        top: 0;
        h4{
            color: $primary;
            margin-bottom: 10px;
        }
        hr{
            width: 100%;
            height: 1px;
            background-color: #fbf9f9;
        }
        ul{
            list-style: none;
            li{
                a{
                    color: $secondary;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
        .sidebar-category{
            li{
                text-align: center;
                margin-bottom: 3px;
                a{
                    background-color: $secondary;
                    display: block;
                    color: #fff;
                    padding: 5px;
                    &:hover{
                        color: #fff;
                        background-color: #2b75ba;
                    }
                }
            }
        }
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
}

/* RESPONSIVE DESIGN */

@media (min-width: 481px) and (max-width: 767px) {
    .single-post{
        &__sidebar{
            position: static;
        }
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .single-post{
        &__sidebar{
            position: static;
        }
    }
    .blog-posts{
        &__text{
            h4{
                height: 40px;
            }
        }
    }
}

@media (max-width: 320px) {
    .single-post{
        &__sidebar{
            position: static;
        }
    }
    .blog-posts{
        &__text{
            h4{
                height: 40px;
            }
        }
    }
}